img {
  width: 15%;
  height: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.header-title {
  color: white;
}
